<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .account {
            width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="account">
    <h1 class="text-center">注册</h1>
    <form>
        {% for field in form %}
            {#判断如果是验证码，就添加一个按钮#}
            {% if field.name == 'code' %}
                <div class="form-group">
                    {#field.label 会去找ModelForm,ModeFrom 实际获取的是UserInfo中的verbose_name#}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="clearfix">
                        {#生成input框#}
                        <div class="col-md-8" style="padding-left: 0">{{ field }}</div>
                        {#生成按钮#}
                        <div class="col-md-4" style="padding: 0"><input type="button" class="btn btn-info btn-block" value="获取验证码"></div>
                    </div>
                </div>
            {% else %}
                <div class="form-group">
                    {#field.label 会去找ModelForm,ModeFrom 实际获取的是UserInfo中的verbose_name#}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {#生成input框#}
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">注 册</button>
    </form>
</div>

</body>
</html>